.bookimg{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 280px;
    margin-bottom: 6%;
   
  
}
.eachbook{
    background-color: #f8f8f8;
    padding-top: 5%;
    width: 80%;
    margin-top: 30px ;
    margin-left: 10px;
    margin-right: 10px;
   
}

.lower-portion{
    padding: 20px ;

}
.lower-portion input{
    margin-bottom: 10px;
    width: 60%;
    border-radius: 0px;
    text-align: center;
}
.lower-portion p, .lower-portion h1{
    color: #ff871c;
    font-weight:lighter;
}

.eachbook button{
    color: white;
    background-color: #ff871c;
    padding: 12px;
    border: none;
    font-size: 110%;
    width: 40%;
}

@media (max-width: 1200px){
    .bookimg{
        width: 80%
      
    }
}

@media (max-width: 576px){
    .bookimg{
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        height: 200px;
        width: 90%
      
    }
}